.main-container {
  margin: 40% auto;
  background-color: #1f2833;
  padding: 30px;
}

.convert-from-currency {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  select {
    display: flex;
  }
}

.convert-to-currency {
  display: flex;
  flex-direction: row;
}

input {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  box-shadow: 2px 2px 2px #45a29e;

  &:focus {
    outline: none;
  }
}
